/* variables.css */
:root {
  /* Colors */
  --primary-color: #5275b4;
  --primary-color-opacity: #5275b400;
  --primary-color-opacity2: #041026A8;
  --primary-color-hover: #334667;
  --secondary-color: #e91e63; 
  --text-primary: #11161f; 
  --text-secondary: #33435e;
  --text-contrast: #fff;
  --background-light: #f9fafb;
  --background-white: #ffffff;
  --background-primary: #5275b4;
  --background-secondary: #97b3e7;
  --background-light-color: #e8ecf4;
  --footer-background: #041026;

  --background-image1: url('images/nyc2.jpg');
  --background-image2: url('images/nyc.jpg');
  --about-image: url('images/about4.webp');
  
  /* Typography */
  --font-primary: "Inter", sans-serif;;
  --font-heading: "Plus Jakarta Sans", sans-serif;
  
  /* Spacing */
  --container-padding: clamp(1rem, 5vw, 2rem);
  --section-spacing: clamp(3rem, 8vw, 6rem);
  --grid-gap: clamp(1.5rem, 4vw, 2rem);
  
  /* Border Radius */
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
  
  /* Transitions */
  --transition-base: 0.3s ease-in-out;
  
  /* Container Width */
  --container-max-width: 1280px;
}
/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    color: #333;
    font-size: 0.9rem;
    letter-spacing: 0.009;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding by default */
}

.full-width {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3 {
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 3.2rem;
    line-height: 1.2;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.75rem;
}
.flex-end{
    align-items: flex-end;
}
.instrument {
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    line-height: 1;
}
.spacer-40 {
    height: 40px;
}
.spacer-80 {
    height: 80px;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #fff;
    color: #ccc;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    height: 60px;
}
.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 300;
}
.cta-btn {
    padding: 16px 28px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 1rem;
    align-self: center;
}
.navbar .cta-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.cta-btn svg {
    margin-right: 4px;
    fill: var(--primary-color);
    margin-bottom: -5px;
}
.primary {
    background-color: var(--background-secondary);
    color: var(--text-contrast);
}
.primary:hover {
    background-color: var(--primary-color-hover);
}
.secondary {
    background-color: #f7f7f7;
    color: var(--primary-color-hover);
    border: 1px solid var(--background-secondary);
}
.secondary:hover {
    background-color: var(--background-light-color);
}
.hamburger-menu {
    display: none;
    cursor: pointer;
}
.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: #000000;
}

/* Hero Section */
.hero {
    background: linear-gradient(90deg, var(--primary-color), var(--primary-color) 20%, var(--primary-color-opacity) 80%), var(--background-image1) no-repeat center center/cover;
    color: var(--text-contrast);
    padding: 100px 0;
    display: flex;
    flex-direction: row;
}
.left-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
}
.right-column {
    width: 50%;
    padding-right: 5%;
}
.hero h1 {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    letter-spacing: .01em;
    line-height: 1.2;
}
.cta-buttons .primary {
    margin-right: 10px;
}
.gradient-background-overlay {
    background-image: linear-gradient(90deg, var(--primary-color), var(--primary-color) 20%, var(--primary-color-opacity) 80%);
    position: absolute;
    inset: 0%;
  }
.rating {
    margin-top: 20px;
    font-size: 1rem;
}
.bold-rating {
    font-weight: 800;
}
.star-rating {
    color: rgb(255, 183, 0);
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
}

/* Trusted By Section */
.trusted-by {
    padding: 50px 0;
    text-align: center;
}

.trusted-by h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.trusted-by .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.trusted-by .logos svg {
    height: 40px;
    opacity: 0.7;
    transition: var(--transition-base);
    fill: var(--primary-color);
  }

/* Media query for screens below 768px */
@media (max-width: 768px) {
    .trusted-by .logos {
        justify-content: center;
        gap: 30px;
    }
    
    .trusted-by .logos img {
        width: 120px; /* Slightly smaller logos on mobile */
    }
}

/* How It Works Section */
.how-it-works {
    padding: 60px 0;
}
.steps {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 0;
}
.step {
    background: #f7f7f7;
    padding: 20px;
    flex: 1;
    text-align: left;
}
.step h3 {
    margin-bottom: .5rem;
    line-height: 1.2;
}
.subtitle {
    width: 48%;
}
.number {
    font-size: .9rem;
    color: #636d7d;
    border-bottom: #ccd1d8 1px solid;
    margin-bottom: 2.5rem;
    padding-bottom: .5rem;
    text-align: left;
}

/* About Section */
.about {
    padding: 60px 0;
}
.about .container {
    display: flex;
    gap: 20px;
}
.about-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.about-column:last-child {
    justify-content: flex-end;
}
.about-column .cta-btn {
    align-self: flex-start;
}
.about-column p {
    margin-bottom: 20px;
}

/* Results Section */
.results {
    background-image: var(--background-image2);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 450px 0 50px 0;
    color: var(--text-contrast);
    text-align: center;
}
.results-columns {
    display: flex;
    background-color: var(--primary-color);
}
.result {
    flex: 1;
    font-size: 1.5rem;
    padding: 3rem 0;
}
.border-right {
    border-right: var(--background-light-color) 1px solid;
}

/* Services Section */
.services {
    padding: 60px 0;
    background-color: var(--primary-color);
}
.white {
    color: var(--text-contrast);
}
.service-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.service {
    background: #f7f7f7;
    padding: 20px;
    flex: 1;
    margin-bottom: 20px;
}
.service img {
    margin-bottom: 20px;
    padding: .9rem;
    border: 1px solid #636d7d;
}
.service svg {
    fill: var(--secondary-color)
}
.service .cta-btn {
    margin-top: 20px;
}

/* Social Proof Section */
.social-proof {
    padding: 60px 0;
}

.social-proof .flex {
    display: flex;
    margin-bottom: 40px;
    gap: 20px;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 20px;
}

.review {
    background-color: #f7f7f7;
    padding: 2rem;
}

.reviewer {
    margin-top: 20px;
    display: flex;
}

.reviewer img {
    border-radius: 100%;
}

.reviewer p {
    margin-left: 10px;
}

.name {
    font-weight: 700;
    font-size: 1rem;
}

.reviewer img {
    height: 3rem;
}

/* Media query for screens between 1200px and 769px */
@media (max-width: 1200px) and (min-width: 769px) {
    .reviews {
        grid-template-columns: repeat(4, 1fr); /* Maintain 4 columns */
    }
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .reviews {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }
    
    .social-proof .flex {
        flex-direction: column;
    }
    
    .about-column {
        margin-bottom: 20px;
    }
}

/* FAQ Section */
.faq {
    padding: 40px 0 30px 0;
}
.accordion {
    background: #fff;
    border-radius: 5px;
}
.accordion-button{
    background-color: #fff;
    border: none;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    cursor: pointer;
}
.faq-item{
    padding: 1rem 0;
    border-top: #a2a2ab 1px solid;
}
.accordion-content {
    margin: 20px 0;
}


/* Final CTA Section */
.final-cta {
    padding: 40px 20px;
    color: #fff;
}

.final-cta .container {
    background: linear-gradient(var(--primary-color-opacity2), var(--primary-color-opacity2)), url('images/cta1.jpg') no-repeat center center/cover;
    display: flex;
    padding: 8rem 6rem;
    border-radius: 20px;
    gap: 20px;
}

.cta-column {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.cta-column:last-child {
    justify-content: flex-end;
}

.final-cta .cta-btn {
    margin-top: 20px;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .final-cta .container {
        flex-direction: column;
        padding: 4rem 2rem;
    }

    .cta-column {
        max-width: 100%;
    }

    .cta-column:last-child {
        margin-top: 20px;
    }
}

/* Footer Section */
.footer {
    background-color: #f4f4f5;
    color: #636d7d;
    padding: 40px 0;
    font-weight: 400;
    font-size: 1rem;
}

.footer a {
    text-decoration: none;
    color: #424e62;
}

.footer h4 {
    font-weight: 400;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    padding: 0 0 40px 0;
}

.footer-section ul {
    line-height: 2.5;
    list-style: none;
}

.footer-subtitle {
    color: #a2a2ab;
    font-size: 0.9rem;
    text-decoration: none;
}

.footer-section-1, .footer-section-2 {
    border-bottom: 1px solid #ccd1d8;
}
.footer-section-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section-2 .footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-section-2 .footer-column:first-child {
    justify-content: space-between;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    height: 60px;
}

.empty-column {
    flex: 0.25; /* Adjust this value to control the width of the empty column */
}
.contact-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-row a {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-row svg {
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    height: 32px;
    width: 32px;
    fill: var(--primary-color);
}
.footer-social-icons svg {
    padding: 0.5rem;
    height: 32px;
    width: 32px;
    margin: 0;
    fill: var(--primary-color);
}

.footer-social-icons svg:hover {
    background-color: #fff;
}

/* Media Queries */

/* Media query for screens between 1200px and 769px */
@media (max-width: 1200px) and (min-width: 769px) {
    .container {
        max-width: calc(100% - 40px); /* Ensure 20px margin on each side */
    }
}

/* Media query for screens under 768px */
@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .full-width {
        padding-left: 0;
        padding-right: 0;
    }
    .nav-links ul {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px;
        font-size: 1.2rem;
    }
    .nav-links ul.open {
        display: flex;
        align-items: center;
    }
    .hamburger-menu {
        display: block;
    }
    .hero .left-column {
        width: 100%;
    }
    .hero .right-column {
        width: 0%;
    }
    .steps, .social-proof .flex {
        flex-direction: column;
    }
    .results-columns {
        background-color: #162927;
        flex-direction: column;
        text-align: center;
    }
    .about .container {
        flex-direction: column;
    }
    .service-column {
        flex-direction: column;
        gap: 0px;
    }
    .subtitle {
        width: 100%;
    }
    .hero .secondary {
        margin-top: 20px;
    }
    .about-column {
        max-width: 100%;
    }
    .results{
        padding: 20px 0;
    }
    .border-right {
        border-bottom: rgb(178, 202, 199) 1px solid;
        border-right: none;
    }
    .final-cta {
        margin: 0 20px;
    }
    .footer-section {
        flex-direction: column;
        text-align: center;
    }
    .contact-row {
        text-align: left;
    }
}